<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Daftar Artikel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="margin-left: 20px; font-weight: bold;">New Update News</p>
  <div class="artikel">
  <h1 name="judul1" id="judul1" (click)="goToJudul1('judul1')"></h1>
  </div><br>
  <div class="artikel">
    <h1 name="judul2" id="judul2" (click)="goToJudul2('judul2')"></h1>
  </div><br>
  <div class="artikel">
      <h1 name="judul3" id="judul3" (click)="goToJudul3('judul3')"></h1>
  </div>
</ion-content>
